body{
	background-color: rosybrown;
	color:white;
	font-family: oxygen;
}

.container{
	background-color: #7A6C73;
	box-shadow: -3px 16px 34px 0px rgba(0,0,0,0.59);
}
img{
	width: 400px;
}
h1, h2{
	font-weight: bold;
}